h1 a {
    padding-left: 15px;
    font-family: 'Lobster';


}
.post {
    margin-bottom: 70px;
}

.page-header {
    background-color: #ff9400;
    margin-top: 20;
    padding: 20px 20px 20px 60px;
}
